
# dist files
dist
build

# where does this folder even come from
.idea

# exclude sphinx builds for now
docs/build

# backups don't need to be included
bak

# testing and CI
.hypothesis
.coverage
.tox
.pytest_cache
htmlcov
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
venv

# personal notes
notes

# vim session file
Session.vim

# cache not needed
*__pycache__

