
# where does this folder even come from
.idea

# exclude sphinx builds for now
docs/build

# backups don't need to be included
bak

# source backups
src/old

# personal notes
notes

# vim session file
Session.vim

# cache not needed
*__pycache__

