# dist and build files
dist
build
docs/build

# backups, notes and temp files
bak
*.bkp
temp.zmx
tmp.png
notes

# python env and cache
.python-version
*__pycache__
venv

# development and testing
.hypothesis
.idea
.coverage
.coverage*
.tox
.pytest_cache
htmlcov
eggs/
.eggs/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
Session.vim

