
/*font and header settings*/
html {
    --pst-header-height: 3.5rem;
    /*--pst-font-family-base-system: "Times New Roman", serif;*/
    /*--pst-font-size-base: 16px;*/
	--pst-font-size-h1: 25px;
	--pst-font-size-h2: 23px;
	--pst-font-size-h3: 21px;
	--pst-font-size-h4: 19px;
	--pst-font-size-h5: 17px;
	--pst-font-size-h6: 16px;
}

/*lower the line height*/
body {
    line-height: 1.5em;
}

/*increase relative page size for larger displays*/
@media (min-width: 960px) {
.bd-page-width {
    max-width: 88%;
    }
}

/*invert contact image*/
html[data-theme="dark"] .contact-image {
    filter: invert() !important
}

/*unset padding and background color of contact image*/
.contact-image {
    background-color: unset !important;
    padding: unset
}

/*increase size of article content from 60rem to 80rem*/
.bd-main .bd-content .bd-article-container {
   max-width: 90%;
}

/*lower primary sidebar size*/
.bd-sidebar-primary {
    max-width: 20rem;
}

/*Decrease padding of search field*/
.search-button-field {
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

/*word wrapping for code blocks*/
pre {
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: anywhere
}

/*class for deactivating wrapping*/
.prenowrap pre {
    white-space: pre;
    word-break: unset;
}

/*fix line number coloring in code blocks*/
html[data-theme="dark"] .highlight span.linenos{
    color: var(--pst-teal-400)
}

/**Table Settings**/
/*******************************************************************/

/*lower row padding in tables*/
.table td, .table th {
    padding: 0.1rem;
	/*vertical-align: middle;*/
}

/** new borderless class for image and object alignment **/
.table-borderless {
    border:none !important;
}

/**no left border line for each element in row**/
.table-borderless td {
    border-left: none !important;
}

/**remove coloring for rows**/
.table-borderless tr{
    background-color: inherit !important;
}


/**add padding-top so upper math part isn't cut off**/
div.math mjx-container {
    padding-top: 0.2rem;
}

/*don't show reference links as superscript*/
a.footnote-reference, a::before, a::after {
    vertical-align: unset;
    font-size: unset;
    font-family: unset;
    margin-right: unset;
}

