name: OS Compatibility

# do testing on commits, but only if python files changed
# and files are not in examples/ or tests/
on:
  workflow_dispatch:
  push:
    paths:
      - 'optrace/**'
      - 'examples/**'
      - 'tests/**'
      
jobs:
  os_test:
    strategy:
      matrix:
        os: [macos-latest, windows-latest]
        python-version: ['3.13']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    timeout-minutes: 12

    steps:
    - uses: actions/checkout@v6
    
    # needed for the x-server to work
    - name: Setup headless display
      uses: drocheam/setup-headless-display-action@main
      with:
        qt: true
    
    # run tests 
    - name: Run tox
      uses: lsst-sqre/run-tox@v1
      with:
        python-version: ${{ matrix.python-version }}
        tox-envs: "os"
        tox-plugins: "tox-gh-actions"
        cache-key-prefix: ".tox"

