name: Website tests

# do tests on dispatch, every Wednesday at 13:00 UTC and when documentation website has been changed
on:
  workflow_dispatch:
  workflow_run:
    workflows: ["pages-build-deployment"]
    types: [completed] 
  schedule:
    - cron: "0 13 * * 3"

jobs:
  website_test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
    - uses: actions/checkout@v6
    
    # run actual tests
    - name: Run website tests
      run: bash ./tests/test_website.sh
